---
import DashboardLayout from "../../../layouts/DashboardLayout.astro";
import CaseStudyForm from "../../../components/dashboard/CaseStudyForm";

export const prerender = false;
---

<DashboardLayout title="Submit Clinical Case">
    <div class="animate-fade-in-up">
        <CaseStudyForm client:load />
    </div>
</DashboardLayout>
